# CMake builds
cmake-build-*/

# JetBrains
.idea/

# VisualStudio
.vs/

# Generated headers
include/milo/internal/config.h

# Python
tool/codegen/build/
tool/codegen/codegen.egg-info/
tool/codegen/__pycache__/
